nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.logo > h1 {
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}
.cart {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -25px;
  right: -5px;
  font-size: 15px;
}
